body {
  font-family: "Funnel Display", sans-serif;
}
* {
  box-sizing: border-box;
}

.profile {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.profile-desc {
  margin-right: 60px;
}

.profile-pic {
  width: 500px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
