body {
  font-family: "Funnel Display", sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 30px;
}

.header nav {
  margin-left: auto;
}

.header a {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.header a:hover {
  border-bottom: 2px solid black;
}

.contact-btn {
  margin-left: auto;
  background-color: #fbdb14;
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 4px;
}

.contact-btn:hover {
  border: 2px solid black;
  text-shadow: 0.4px 0 0 currentColor;
}

.socials {
  width: 50%;
  margin: 0 auto;
}

.socials a {
  text-decoration: none;
}

.profile {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.profile-desc {
  margin-right: 60px;
}

.profile-pic {
  width: 500px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.project {
  width: 50%;
  margin: 0 auto;
}

.project-section {
  display: flex;
  gap: 16px;
}

.project-card {
  border-radius: 8px;
  border: 1px solid black;
  overflow: hidden;
  width: 200px;
  text-decoration: none;
}

.project-card:hover {
  transform: translate(-5px, -5px);
  box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
}

.project-title {
  background-color: #fbdb14;
  height: 70px;
  text-align: center;
  align-content: center;
  color: white;
  font-weight: bolder;
}

.project-card > p {
  padding: 5px 10px;
  color: black;
}
